html,
body,
.view {
  height: 100vh;
}

@media (max-width: 740px) {
  html,
  body,
  .view {
    height: 1100px;
  }
}
@media (min-width: 800px) and (max-width: 850px) {
  html,
  body,
  .view {
    height: 700px;
  }
}
.intro-2 {
  background: url("../../assets/contact_bg_image.png")no-repeat center center;
  background-size: cover;
}

.md-form .prefix {
  font-size: 1.5rem;
  margin-top: 1rem;
}
h6 {
  line-height: 1.7;
}

@media (max-width: 740px) {
  .full-height,
  .full-height body,
  .full-height header,
  .full-height header .view {
    height: 1150px;
  }
}
