
<!-- Main navigation -->
<header>
  <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark black" [containerInside]="true">
    <logo>
      <a class="navbar-left" href="#"><img id="logo" src="../assets/tcc_drop.png">
      <!--<a class="logo navbar-brand" href="#">-->
        <!--<strong>-->
        <!--</strong>-->
      </a>
    </logo>
    <links>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active waves-light" mdbWavesEffect>
          <nav>
            <a class="nav-link" routerLink="home">About Us<span class="sr-only">(current)</span></a>
          </nav>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <nav>
            <a class="nav-link" routerLink="chef">Our Chef</a>
          </nav>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <nav>
            <a class="nav-link" routerLink="events">Events</a>
          </nav>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <nav>
            <a class="nav-link" routerLink="/contact">Contact Us</a>
          </nav>
        </li>
      </ul>
      <ul class="navbar-nav nav-flex-icons">
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" target="_blank" href="https://www.facebook.com/thecremecompany/"><i class="fa fa-facebook"></i></a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" target="_blank" href="https://www.instagram.com/thecremecompany/"><i class="fa fa-instagram"></i></a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" target="_blank" href="https://www.youtube.com/channel/UCPft2ADaMOCGGolddu_P1Gw"><i class="fa fa-youtube-play"></i></a>
        </li>
      </ul>
    </links>
  </mdb-navbar>
  <!-- Main -->
  <!--<app-home></app-home>-->
</header>
<router-outlet></router-outlet>
<!-- Main navigation -->
